<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div><a routerLink="/">OHRC</a></div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxLayoutGap="5px" fxHide.xs>
    <ul fxLayout class="navigation-items" fxLayoutGap="10px">
      <li *ngIf="!isAuth"><a routerLink="/login">Login</a></li>
      <li *ngIf="!isAuth"><a routerLink="/register">Register</a></li>
      <li *ngIf="isAuth"><a routerLink="/stocks">Stocks</a></li>
      <li *ngIf="isAuth"><a style="cursor: pointer" (click)="onLogout()">Logout</a></li>
    </ul>
  </div>
</mat-toolbar>
